{% extends "base_template.html" %}

{% block title %}
Image and Text Coherence
{% endblock %}

{% block main %}


<div class="container">
  <div class="row">
    <div class="col">
      <h1>Multi-Media Coherence</h1>
      <p>Welcome. <br>If you would like to found out how well some text describes an image, <br>please upload an image and some text below.</p>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">

      <h1>Submit an image and text</h1>
      <hr>

      <form method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image...</label>
          </div>
        </div>


        <div class="form-group">
          <label>Enter Text</label>
          <input type="text" class="form-control" id="image_text" name="image_text" placeholder="Enter Text">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
