
{% extends "base_template.html" %}

{% block title %}
Image and Text Coherence
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Multi-Media Coherence</h1>
            <img src="/static/images/{{image_file}}" alt="{{ image_file }}"/>
            <p>Submitted text: {{image_text}} </p>
            <p>Generated text: {{generated_text}} </p>
            <p>Coherence score: {{coherence}} </p>
        </div>
    </div>
</div>



{% endblock %}
